@import "tailwindcss";
/* react-datepickerのスタイルをインポート */
@import 'react-datepicker/dist/react-datepicker.css';


:root {
  --background: #121212;
  --foreground: #f8f8f8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
