name: Deploy to Vercel
on:
  push:
    branches:
      - master

# ジョブを定義
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v3 # リポジトリのコードをクローンする

      - name: Set up Node.js
        uses: actions/setup-node@v3 # node.jsをセットアップする
        with:
          node-version: '20' # nodeのバージョン20を指定

      - name: Enable Corepack
        run: corepack enable # pnpmを使用するためにCorepackを有効化

      - name: Install dependencies
        run: pnpm install --frozen-lockfile # 依存関係をインストール

      - name: Run database migrations
        run: npx prisma migrate deploy
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          DIRECT_URL: ${{ secrets.DIRECT_URL }}

      - name: Build Next.js project
        run: pnpm build # ビルドする

      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v25 # Vercelにデプロイする。
        with: # with以降に必要なパラメータを渡す
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          vercel-args: '--prod' # 本番環境に反映
